body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
    background: linear-gradient(to right , rgba(51, 119, 98, 0.505) , rgb(78, 42, 42))  !important ;
}

.card-container {
    display: grid !important;
    grid-template-columns: 2fr !important;
    justify-content: center !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill , minmax(350px, 400px)) !important;
    gap: 10px !important;
}

#card {
    margin-top: 20px !important;
    background-color: rgb(255 255 255 / 47%) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s !important;
    justify-content: center !important;
    justify-items: center !important;
}

#card img   {
    width: 200px !important;
    height: 200px !important;
    border-bottom: 2px solid rgb(29, 26, 26) !important;
}


#card:hover {
    background-color: rgba(50, 199, 124, 0.312) !important;
}

#card p {
    color: rgb(29, 26, 26) !important;
    text-align: center !important;
    font-size: 1.3em !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px ;
    /* background-color: rgb(29, 26, 26 ,0.2); */
    padding-bottom: 15px;   
}



#card h3  {color: rgb(51, 23, 23) !important;
    text-align: center !important;
    font-size: 1.35em !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px ;
    text-transform: uppercase !important;
}


.shico {
    justify-content: center !important;
    text-align: center !important;
    position: sticky;
    top: 0; 
    z-index: 1000;
    padding: 10px;
    background: linear-gradient(to right , rgba(51, 119, 98) , rgb(78, 42, 42))  !important ;

}

.shico h1 {
    color: rgba(255, 255, 255, 0.708) !important;
    font-size: 2.4em !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.shico input  {
    padding: 10px !important;
    border-radius: 10px !important;
    border: none !important;
    background-color: rgb(255 255 255 / 47%) !important;
    font-size: 1.1em !important;
    padding-left: 50px !important;
    margin-bottom: 15px ;
}


.shico input:focus {
    border: 0px !important;
    border-color: white !important;
}