body {
	background: url(headerimage.jpg) no-repeat center center fixed;
	background-size: cover ;
	height: 100vh;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

h1{
	color: white;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	text-align: center;
}

.buffer {
	height:210px;
}

.btn {
	border-radius:40px ;
	background-color: orange;
	border-color: orange;
	border: 1rem 2rem;
}
.btn:hover {
	border-width: 3px;
	background-color: orange;
	border-color: orange;
}

hr {
	border-width:3px ;
	border-color: orange;
	max-width: 50px ;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
}